.about-me-header{
  height:50vh;
  display: table;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  margin-top: 5%;
}

.about-me-header > h1{
  font-size-adjust: 0.5;
  font-size: 9vw;
  display: table-cell;
  vertical-align:middle;
  text-align:center;

}

h1 {
  font-family: 'Josefin Sans';
  font-size: 40px;
}

p, ul, li {
  font-family: 'Quicksand';
  font-stretch:extra-condensed;
}

.underline{
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  margin: .3em auto .4em;
  display: block;
  content: '';
}

.bio{
  color: black;
  padding: 0px;
}

.bio > img {
  max-width: 35%;
  display: inline-block;
  float: left;
  padding-left: 2.5%;
  padding-right: 2%;
  margin-bottom: 2%;
}

.bio > p{
  margin-top:10%;
}

.interests{
  color:black;
  background-color: #f6f7f7;
}

.interests > i {
  font-size: 1000%;
  float:right;
  display: inline-block;
  margin-right: 10%;
}

.project-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

.project-instance {
  position:relative;
  height:auto;
  margin-bottom: 5%;
  display:block;
  background-color: black;
}

.project-instance-text{
  position: absolute;
  z-index: 1;
}

.project-instance-text > h2, .project-instance-text > p,
.project-instance-text> i, .project-instance-text > h4{
  display: block;
  width: 100%;
  position: relative;
  vertical-align: top;
  text-align: left;
  color:white;
  visibility: hidden;
}

h4 > i {
  color:#FBA89A;
  display: inline-block;
}

.project-instance-text > h4{
  text-align:right;
  margin-right: 10%;
  color: white;
}


.project-instance:hover > a > .project-instance-text > h2, .project-instance:hover > a > .project-instance-text > p,
.project-instance:hover  > a > .project-instance-text > i, .project-instance:hover > a > .project-instance-text > h4{
  visibility: visible;
}

.project-instance > img {
  width:100%;
  padding: inherit;
  object-fit: fill;
  height:auto;
  z-index: 0;
  float: left;
}

.project-instance:hover > img {
  opacity: 0.25;
}
