.about-me-header{
  height:50vh;
  display: table;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  margin-top: 5%;
}

.about-me-header > h1{
  font-size-adjust: 0.5;
  font-size: 9vw;
  display: table-cell;
  vertical-align:middle;
  text-align:center;

}

h1 {
  font-size: 40px;
}

p, ul, li {
  font-family: inherit;
  font-weight: 200;
}

.underline{
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  margin: .3em auto .4em;
  display: block;
  content: '';
}

.bio{
  color: black;
  padding: 0px;
}

.bio > img {
  max-width: 35%;
  display: inline-block;
  float: left;
  padding-left: 2.5%;
  padding-right: 2%;
  margin-bottom: 2%;
}

.bio > p{
  margin-top:10%;
}

.interests{
  color:black;
  background-color: #f6f7f7;
}

.interests > i {
  font-size: 1000%;
  float:right;
  display: inline-block;
  margin-right: 10%;
}

.projects{
  color:black;
}

.project-container {
  color:black;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

.project-instance {
  height: 30vh;
  margin-bottom: 5%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.75);
}

.project-instance > img {s
  position: relative;
  width: 40%; /* for IE 6 */
}
