.about-me-header{
  height:50vh;
  text-align: center;
  top:50%;
  transform:translateY(40%);
  font-family: 'Josefin Sans', sans-serif;
  overflow: auto;
}

.about-me-header > h1{
  font-size-adjust: 0.5;
  font-size: 9vw;
  display: inline-block;
}

h1 {
  font-size: 40px;
}

p, ul, li {
  font-family: inherit;
  font-weight: 200;
}

.underline{
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  margin: .3em auto .4em;
  display:block;
  content: '';
}

.bio{
  color: black;
  padding: 0px;
}

.bio > img {
  max-width: 35%;
  display: inline-block;
  float: left;
  padding-left: 2.5%;
  padding-right: 2%;
  margin-bottom: 2%;
}

.bio > p{
  margin-top:10%;
}

.interests{
  color:black;
  background-color: #f6f7f7;
}

.projects{
  color:black;
}
