@-webkit-keyframes fadeinout {
  0%{opacity:0;}
  11%{opacity:1}
  13%{opacity:0}
  100%{opacity:0;}
}


html {
  box-sizing: border-box;
}

body,html{
  position:relative;
  margin: 0;
  padding:0;
}

header,section,footer{
  padding:0;
  margin:0;
}

body {
  margin-top:0px;
  margin-left:0px;
  margin-bottom:0px;
  margin-right:0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100% !important;
  width:100%;
}

section,
footer {
  padding: 100px 150px;
}

.hello{
  margin-left: 8%;
  padding-right: 0;
  position:relative;
  padding-top: 30%;
  padding-bottom: 5%;
}

.hello > h1 {
  padding-top: 5%;
  margin-bottom: 0;
}

.hello-box{
  position: relative;
  margin-left:0%;
  padding-bottom: 5%;
}

.hello-box>ul>li {
  top:50%;
  left:0%;
  text-align: right;
  font: 100 40px/1 'Quicksand';
  position:relative;
  text-transform: uppercase;
  list-style-type: none;
}

.hello-box>ul>li:nth-child(1){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay: 17.5s;
    opacity:0;
}

.hello-box>ul>li:nth-child(2){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay: 15s;
    opacity:0;
}

.hello-box>ul>li:nth-child(3){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay: 12.5s;
    opacity:0;
}

.hello-box>ul>li:nth-child(4){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay:10s;
    opacity:0
}

.hello-box>ul>li:nth-child(5){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay:7.5s;
    opacity:0;

}

.hello-box>ul>li:nth-child(6){
  position:absolute;
  -webkit-animation: fadeinout 20s infinite;
  -webkit-animation-delay: 5.0s;
  opacity:0;

}

.hello-box>ul>li:nth-child(7){
  position:absolute;
  -webkit-animation: fadeinout 20s infinite;
  -webkit-animation-delay: 2.5s;
  opacity:0;
}

.hello-box>ul>li:nth-child(8){
  position:absolute;
  -webkit-animation: fadeinout 20s infinite;
  -webkit-animation-delay: 0s;
  opacity:0;
}

.hello > h1{
  font-family: 'Quicksand';
  font-size:30px;
  font-weight:300;

}

.hello > p{
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight:300;
}

.profilepic{
  display: table;
}
.profilepic>img {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  float:left;
  width: 65%;
  height: auto;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-top: 15%;
}

.about-me{
  display: table;
  width: 100%;
  position: relative;
  background-color: #403F4C;
}

.experience{
  display: table;
  width: 100%;
  position: relative;
  background-color:#BADDD6;
}
.resume{
  background-color:#403F4C;
  display: table;
  width: 100%;
  position: relative;
}

.contact{
  background-color: #BADDD6;
  display: table;
  width: 100%;
  position: relative;

}

.about-me> h1, .contact>h1, .resume>h1, .experience>h1{
  visibility: visible;
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  font-family: 'Quicksand';
  font-stretch: extra-condensed;
  color:white;
  z-index: 1;
  font-size: 250%;
}

.contact > i, .resume > i, .about-me > i, .experience > i{
  display: table-cell;
  position: relative;
  vertical-align:middle;
  text-align:center;
  font-size: 1000%;
  color: white;
  z-index: 2;
}


.contact:hover, .resume:hover, .about-me:hover, .experience:hover{
  background-color: #F6BD60;
}

.circle-col{
  border-radius:50%;
  margin: auto;
  margin-bottom: 15%;
  text-align: center;
  width: 275px;
  height: 275px;
}

@media(max-width:1025px){
  .circle-col{
    width: 225px;
    height: 225px;
    font-size: 50%;
  }
}

@media(max-width:770px){
  .circle-col{
    width: 175px;
    height: 175px;
    font-size: 50%;
  }
  .hello{
    margin-left:0;
  }
}

@media(max-width:400px){
  .circle-col{
    width: 155px;
    height: 155px;
  }
}

@media(max-width:350px){
  .circle-col{
    width: 130px;
    height: 130px;
  }
}
.navbar{
  border:0;
  font-family:'Quicksand'
}

.navbar-collapse li a{
  padding-left:30px;
}

.navbar-toggle{
  margin-right: 20px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav{
  margin-bottom: 5%;
}

.container{
  width:100%;
  margin:0px;
  padding:0px;
}

.row{
  width:100%;
  margin:0;
}
