@-webkit-keyframes fadeinout {
  0%{opacity:0;}
  11%{opacity:1}
  13%{opacity:0}
  100%{opacity:0;}
}


html {
  box-sizing: border-box;
}

body,html{
  position:relative;
  margin: 0;
  padding:0;
}

header,section,footer{
  padding:0;
  margin:0;
}

body {
  margin-top:0px;
  margin-left:0px;
  margin-bottom:0px;
  margin-right:0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100% !important;
  width:100%;
}

section,
footer {
  padding: 100px 150px;
}

.hello{
  margin-left: 8%;
  position:relative;
  padding-top: 30%;
  padding-bottom: 5%;
}

.hello-box{
  position: relative;
  margin-left:0%;
}

.hello-box>ul>li {
  top:50%;
  left:0%;
  text-align: right;
  font: 100 40px/1 'Bree Serif', Helvetica, sans-serif;
  position:relative;
  text-transform: uppercase;
  list-style-type: none;
}

.hello-box>ul>li:nth-child(1){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay: 17.5s;
    opacity:0;
}

.hello-box>ul>li:nth-child(2){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay: 15s;
    opacity:0;
}

.hello-box>ul>li:nth-child(3){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay: 12.5s;
    opacity:0;
}

.hello-box>ul>li:nth-child(4){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay:10s;
    opacity:0
}

.hello-box>ul>li:nth-child(5){
  position:absolute;
    -webkit-animation: fadeinout 20s infinite;
    -webkit-animation-delay:7.5s;
    opacity:0;

}

.hello-box>ul>li:nth-child(6){
  position:absolute;
  -webkit-animation: fadeinout 20s infinite;
  -webkit-animation-delay: 5.0s;
  opacity:0;

}

.hello-box>ul>li:nth-child(7){
  position:absolute;
  -webkit-animation: fadeinout 20s infinite;
  -webkit-animation-delay: 2.5s;
  opacity:0;
}

.hello-box>ul>li:nth-child(8){
  position:absolute;
  -webkit-animation: fadeinout 20s infinite;
  -webkit-animation-delay: 0s;
  opacity:0;
}

.hello > h1{
  font-family: 'Helvetica Neue';
  font-size:30px;
  font-weight: lighter;

}

.hello > p{
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: lighter;
}

.profilepic>img {
  border-radius: 50%;
  float:left;
  width: 75%;
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  margin-bottom: 5%;

}

.about-me{
  position: relative;
  box-sizing: border-box;
  background-color: #D05C83;
  text-align: center;
}

.about-me > h1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Raleway';
  color:white;
  visibility: visible;
}

.about-me > i{
  transform: translateY(+60%);
  font-size: 1000%;
  visibility:hidden;
  color:white;
}

.about-me:hover{
  background-color: #BADDD6;
}

.about-me:hover > h1 {
  visibility: hidden;
}

.about-me:hover > i{
  visibility:visible;;
}


.resume{
  background-color:#FFD0A6;
  position:relative;
  box-sizing: border-box;
  text-align:center;
}

.resume > h1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Raleway';
  color:white;
}

.resume > i{
  transform: translateY(+60%);
  font-size: 1000%;
  visibility:hidden;
  color: white;
}

.resume:hover{
  background-color: #BADDD6;
}

.resume:hover > h1 {
  visibility: hidden;
}

.resume:hover > i{
  visibility:visible;
}

.contact{
  background-color: #6C8A94;
  position:relative;
  box-sizing: border-box;
  text-align:center;

}

.contact > h1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Raleway';
  color:white;
}

.contact > i{
  transform: translateY(+60%);
  font-size: 1000%;
  visibility:hidden;
  color: white;
}

.contact:hover{
  background-color: #BADDD6;
}

.contact:hover > h1 {
  visibility: hidden;
}

.contact:hover > i{
  visibility:visible;
}



.circle-col{
  border-radius:50%;
  height: 55vh;
}

.navbar{
  border:0;
  font-family:'Raleway'
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
