.experience-text{
  color: black;
  background-color: rgba(186, 221, 214,0.15);
  font-family:'Quicksand'
}

.experience-text>h1{
  font-family: Tahoma;
  font-weight: 200;
}


#web-dev-pic{
  width:50%;
  margin: auto;
}

#wie-carleton{
  width: 100%;
  margin:auto;
}

#wie-ottawa{
  padding:5%;
  width: auto;
  height:30vh;
}

#llc{
  width: auto;
  height:30vh;
  margin: 5%;
}
.experience-img{
  text-align: center;
}
